<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
  Checkstyle configuration based on sun_checks.xml
-->

<module name="Checker">
    <!--
        If you set the basedir property below, then all reported file
        names will be relative to the specified directory. See
        https://checkstyle.org/config.html#Checker
        <property name="basedir" value="${basedir}"/>
    -->

    <property name="severity" value="error"/>

    <property name="fileExtensions" value="java, properties, xml"/>

    <!-- File Filters Checks -->
    <!-- https://checkstyle.org/filefilters -->
    <module name="BeforeExecutionExclusionFileFilter">
        <property name="fileNamePattern" value="module\-info\.java$"/>
    </module>

    <!-- Checks whether files end with a new line.                        -->
    <!-- See https://checkstyle.org/checks/misc/newlineatendoffile.html#NewlineAtEndOfFile -->
    <module name="NewlineAtEndOfFile"/>

    <!-- Checks that property files contain the same keys.         -->
    <!-- See https://checkstyle.org/checks/misc/translation.html#Translation -->
    <module name="Translation"/>

    <!-- Size Violations Checks -->
    <!-- See https://checkstyle.org/checks/sizes -->
    <module name="FileLength"/>
    <module name="LineLength">
        <property name="fileExtensions" value="java"/>
        <property name="max" value="160"/>
    </module>

    <!-- Whitespace Checks -->
    <!-- See https://checkstyle.org/checks/whitespace -->
    <module name="FileTabCharacter"/>

    <!-- Regexp Checks -->
    <!-- https://checkstyle.org/checks/regexp -->
    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="minimum" value="0"/>
        <property name="maximum" value="0"/>
        <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="TreeWalker">
        <!-- Imports Checks -->
        <!-- See https://checkstyle.org/checks/imports -->
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/> <!-- defaults to sun.* packages -->
        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="false"/>
        </module>

        <!-- Naming Conventions Checks  -->
        <!--  See https://checkstyle.org/checks/naming  -->
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>

        <!-- Size Violations Checks -->
        <!-- See https://checkstyle.org/checks/sizes -->
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>

        <!-- Whitespace Checks -->
        <!-- See https://checkstyle.org/checks/whitespace -->
        <module name="EmptyForIteratorPad"/>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
        <module name="SingleSpaceSeparator"/>
        <module name="NoWhitespaceBeforeCaseDefaultColon"/>

        <!-- Modifiers Checks -->
        <!-- See https://checkstyle.org/checks/modifier -->
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>

        <!-- Blocks Checks -->
        <!-- See https://checkstyle.org/checks/blocks -->
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>

        <!-- Coding Checks -->
        <!-- See https://checkstyle.org/checks/coding -->
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <module name="MultipleVariableDeclarations"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="DefaultComesLast"/>

        <!-- Design Checks -->
        <!-- See https://checkstyle.org/checks/design -->
        <module name="FinalClass"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>

        <!-- Annotation Checks -->
        <!-- See https://checkstyle.org/checks/annotation -->
        <module name="SuppressWarningsHolder"/>

        <!-- Miscellaneous Checks -->
        <!-- See https://checkstyle.org/checks/misc -->
        <module name="ArrayTypeStyle"/>
        <module name="UpperEll"/>
        <module name="Indentation">
            <property name="basicOffset" value="2"/>
            <property name="caseIndent" value="0"/>
        </module>
        <module name="CommentsIndentation"/>

        <module name="SuppressWarningsHolder"/>
    </module>

    <module name="SuppressWarningsFilter"/>

</module>